$color-black: #000000;
$color-night-rider: #2F2F2F;
$color-nero: #242424;
$color-gray: #2C2C2C;



$color-charcoal: #4A4A4A;
$color-mortar: #5C5C5C;
$color-mortar2: #535353;
$color-dim-gray: #656565;
$color-dim-gray2: #696969;
$color-surva-gray: #8e8e8e;
$color-surva-gray2: #929292;
$color-surva-gray3: #828282;
$color-surva-gray4: #777;
$color-dark-gray: #A0A0A0;
$color-dark-light-gray: #AFAFAF;
$color-light-gray: #D6D6D6;


$color-arcadia: #F7F7F7;
$color-white-smoke: #F2F2F2;
$color-white-smoke2: #E9E9E9;
$color-white-smoke3: #f4f4f4;
$color-white-smoke4: #f0f0f0;
$color-white-smoke5: #f3f3f3;
$color-darken-white-smoke: #EBEBEB;
$color-gainsboro: #E3E3E3;
$color-gainsboro2: #D8D8D8;
$color-white1: #fcfcfc;
$color-white: #ffffff;

$color-bright-turquoise:#33EAF5;

$color-light-green: #78AB7E;
$color-dark-green: #5F9766;




$fonts-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";

/* $Lato-ThinItalic: "Lato-ThinItalic", $fonts-default;
$Lato-Thin: "Lato-Thin", $fonts-default;

$Lato-LightItalic: "Lato-LightItalic", $fonts-default;
$Lato-Light: "Lato-Light", $fonts-default;

$Lato-Italic: "Lato-Italic", $fonts-default;
$Lato-Regular: "Lato-Regular";

$Lato-BoldItalic: "Lato-BoldItalic", $fonts-default;
$Lato-Bold: "Lato-Bold";

$Lato-BlackItalic: "Lato-BlackItalic", $fonts-default;
$Lato-Black: "Lato-Black", $fonts-default; */




$first-padding: 3.3rem;
$mobile-first-padding: 1.6rem;

$container-width: 124rem;
$container-small-width: 100rem;
$min-width: 32rem;


$laptop-width: 1179px;
$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-width-small: 375px;