@import "mixins";
@import "vars";
@import "animations";
@import "fonts";
@import "global";
@import "components/btn";
@import "components/form";
@import "components/basket-link";
@import "components/price";
@import "components/breadcrumbs";
@import "components/cart-item-count";
@import "components/modal";
@import "components/info-message";

/* header start */
.header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-white-smoke;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $color-white;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__control {
        display: flex;
    }

    &__control-box {
        padding: 0 0.7rem;
        position: relative;
        & + & {
            margin-left: 4rem;
        }
    }

    &__control-box-arrow {
        padding-left: 0.2rem;
        vertical-align: middle;
    }

    &__control-list {
        max-height: 0;
        list-style: none;
        white-space: nowrap;
        position: absolute;
        z-index: 100;
        top: calc(100% + 1rem);
        left: 0;
        background-color: $color-white;
        overflow: hidden;
        transition: all 0.3s ease;
        &.active {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
            max-height: 100vh;
        }
    }

    &__control-list-item {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #242424;
        padding: 1.1rem 0.7rem;
    }

    &__control-list-link {
        text-decoration: none;
        color: $color-nero;
        &--active {
            color: $color-light-green;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        position: relative;
        text-decoration: none;
    }

    &__cart-box {
        position: relative;
    }

    &__cart--active::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        height: 0.2rem;
        width: 100%;
        background-color: $color-light-green;
        z-index: 100;
    }

    &__cart-img {
        margin-right: 0.8rem;
    }

    &__cart-count-products {
        display: block;
        padding: 0.1rem 0.345rem;
        border-radius: 50%;
        font-size: 1rem;
        line-height: 1.1rem;
        color: $color-white;
        background-color: $color-light-green;
        position: absolute;
        bottom: 0.2rem;
        right: 0.5rem;
    }

    &__cart-text {
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 700;
        color: $color-nero;
    }
}

.burger-menu-btn {
    display: none;
    padding: 0;

    &:hover {
        .burger-menu-btn__icon path {
            fill: $color-light-green;
        }
    }

    &__icon path {
        transition: all 0.3s ease-in-out;
    }

    @include breakpoint($mobile-width) {
        display: block;
    }
}

.header-mobile-menu {
    display: none;
    padding-top: 4.7rem;
    padding-bottom: 3.4rem;

    @include breakpoint($mobile-width) {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 500;
        background: $color-white;
        overflow: auto;
        transition: all 0.1s ease-in-out;
    }
    &--active {
        left: 0;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 3.7rem;
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: 700;
        color: $color-nero;
    }

    &__number-list {
        margin-top: 10.8rem;
        margin-bottom: 7.1rem;
        list-style: none;
    }

    &__number-list-item {
        font-size: 1.6rem;
        line-height: 1.92rem;
        color: $color-nero;
        & + & {
            margin-top: 2rem;
        }
    }

    &__language-list {
        list-style-type: none;
        display: flex;
        margin-bottom: 11.7rem;
    }

    &__language-list-item {
        & + & {
            margin-left: 3.4rem;
        }
    }

    &__language-list-link {
        font-size: 1.8rem;
        line-height: 2.16rem;
        font-weight: 700;
        color: $color-nero;
        text-decoration: none;

        &--active {
            color: $color-light-green;
        }
    }
}

.header-mobile-menu-close {
    padding: 0;
    border: none;
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
    background: transparent;
    outline: transparent;
}

.logo {
    display: flex;
    align-items: center;
}

.navigation {
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint($mobile-width) {
        padding: 0;
    }

    &__list {
        display: flex;
        list-style: none;
        height: 100%;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        & + & {
            margin-left: 2.6vw;

            @include breakpoint($mobile-width) {
                margin-left: 0;
                margin-top: 3.4rem;
            }
        }
    }

    &__item--active .navigation__link {
        @include breakpoint($mobile-width) {
            color: $color-light-green;
        }
    }

    &__item--active::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        height: 0.2rem;
        width: 100%;
        background-color: $color-light-green;
        z-index: 100;

        @include breakpoint($mobile-width) {
            display: none;
        }
    }

    &__link {
        display: inline-block;
        height: 100%;
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 700;
        text-decoration: none;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            font-size: 1.8rem;
        }
    }
}

.header-control-btn-number {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-nero;
}

.header-control-btn-language {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: $color-nero;
}

.header-open-modal-number {
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    outline: transparent;
    background-color: $color-white-smoke4;
}
/* header end */
/* main start */
.main {
    padding-top: 5.2rem;
    padding-bottom: 4.1rem;
    position: relative;
    overflow: hidden;
    background-color: #f8f6f8;

    @include breakpoint($mobile-width) {
        padding-top: 0;
    }

    &__inner {
        padding-top: 5.9rem;
        padding-bottom: 11.4rem;
        position: relative;

        @include breakpoint($mobile-width) {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .small-container {
        @include breakpoint($mobile-width) {
            order: 2;
        }
    }

    &__img {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        -o-object-fit: cover;
        object-fit: cover;
        animation-name: motionImgTop-float, motionImgTop;
        animation-duration: 0.6s, 3s;
        animation-delay: 0s, 0.6s;
        animation-timing-function: ease-out, ease-in-out;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: forwards;
        animation-direction: normal, alternate;

        @include breakpoint($tablet-width) {
            width: 60%;
        }

        @include breakpoint($mobile-width) {
            width: 100%;
            order: 1;
            position: static;
            transform: initial;
            animation-name: motionImgTop-floatMobile, motionImgTopMobile;
        }
    }

    &__content {
        width: 50%;

        @include breakpoint($tablet-width) {
            width: 40%;
        }

        @include breakpoint($mobile-width) {
            width: 100%;
            padding-top: 3.7rem;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 2.1rem;
        font-size: 3.2rem;
        line-height: 4.4rem;
        font-weight: 700;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            margin-bottom: 1.4rem;
            font-size: 2.4rem;
            line-height: 3rem;
            text-align: center;
        }
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 3.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $color-surva-gray;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.2rem;
            text-align: center;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        text-align: center;
        &.btn--green {
            max-width: 16.8rem;
            width: 100%;
        }

        @include breakpoint($mobile-width) {
            margin: 0 auto;
        }
    }
}
/* main end */
/* advantages start */
.advantages {
    padding-top: 6.7rem;
    &__inner {
        display: flex;
    }
}
.advantages-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3.2rem 5rem;
    border: 1px solid $color-gainsboro;
    border-radius: 3px;
    @include breakpoint($mobile-width) {
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        padding: 3.2rem;
        border: none;
    }

    &__item {
        display: flex;
        align-items: center;

        & + & {
            @include breakpoint($mobile-width) {
                margin-top: 3.2rem;
            }
        }
    }

    &__item-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        margin-right: 1.6rem;
        border-radius: 50%;
        background-color: $color-white-smoke;
    }

    &__item-icon {
        display: block;
    }

    &__item-text {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        color: $color-gray;
    }
}
/* advantages end */
/* catalogue start */
.catalogue {
    padding-top: 8rem;
    padding-bottom: 5.6rem;

    &__title {
        margin-top: 0;
        margin-bottom: 1.6rem;
        font-size: 3.4rem;
        line-height: 1.5;
        font-weight: 700;
        text-align: center;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            font-size: 2.4rem;
        }
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 2.1rem;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        color: $color-dark-light-gray;
    }

    &__title-fabric {
        margin-top: 4.7rem;
        margin-bottom: 2.5rem;
        font-size: 2.6rem;
        line-height: 4.8rem;
        font-weight: 700;
        text-align: center;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            margin-top: 3.5rem;
            margin-bottom: 1.6rem;
            font-size: 2.2rem;
        }
    }
}

.catalogue-tabs-panel {
    border: 1px solid $color-gainsboro;
    border-radius: 3px;
    &__control {
        display: flex;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    &__info {
        padding-top: 1.8rem;
        padding-bottom: 1.3rem;
        padding-left: calc(100% / 8);
        padding-right: calc(100% / 8);
        border-top: 1px solid $color-gainsboro;
        background-color: $color-arcadia;

        @include breakpoint($tablet-width) {
            padding-left: calc(100% / 12);
            padding-right: calc(100% / 12);
        }

        @include breakpoint($mobile-width) {
            padding: 1.6rem 1.6rem 1.2rem 1.6rem;
        }
    }

    &__info-sizes {
        display: flex;
        justify-content: space-between;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    &__info-size {
        font-size: 1.4rem;
        line-height: 2.6rem;
        font-weight: 700;
        color: $color-nero;

        & + & {
            @include breakpoint($mobile-width) {
                margin-top: 0.9rem;
            }
        }
    }

    &__info-text {
        margin: 0;
        font-size: 1.2rem;
        line-height: 2.6rem;
        font-weight: 300;
        text-align: center;
        color: $color-dark-gray;

        @include breakpoint($mobile-width) {
            text-align: left;
        }
    }
}

.catalogue-tabs-panel-btn {
    width: 100%;
    padding: 1.1rem 0;
    font-size: 1.3rem;
    font-weight: 700;

    @include breakpoint($mobile-width) {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        text-align: left;
    }

    &--active {
        color: $color-white;
        background-color: $color-charcoal;
        &:hover {
            color: $color-white;
            background-color: $color-charcoal;
        }
    }

    &--select {
        display: none;

        @include breakpoint($mobile-width) {
            display: block;
            color: $color-white;
            position: relative;
            background-color: $color-charcoal;
        }
    }

    & + & {
        border-left: 1px solid $color-gainsboro;

        @include breakpoint($mobile-width) {
            border-left: 0;
            border-top: 1px solid $color-gainsboro;
        }
    }

    &__arrow-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2.1rem;
    }
}

.catalogue-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding-top: 4.8rem;

    @include breakpoint($tablet-width) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($mobile-width) {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2.5rem;
    }
}

.catalogue-product {
    width: 100%;
    border: 1px solid $color-white-smoke;
    border-radius: 6px;
    overflow: hidden;

    &__img {
        display: block;
        width: 100%;
    }

    &__info {
        width: 100%;
        padding: 1.4rem;
    }

    &__name {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 700;
        text-decoration: none;
        color: $color-nero;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-light-green;
        }
    }

    &__code {
        margin-top: 0.5rem;
        margin-bottom: 0.7rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
        font-weight: 300;
        color: $color-dim-gray;
    }

    &__control {
        display: flex;
        margin-top: 1.5rem;
    }

    &__control-btn {
        & + & {
            margin-left: 1.6rem;
        }

        &.btn--green {
            max-width: 14.4rem;
            width: 100%;
        }

        &.btn--gray {
            max-width: 11.5rem;
            width: 100%;
        }
    }
}

.catalogue-products-all-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.catalogue-products-all-btn {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
}
/* catalogue end */
/* about start */

.about {
    padding-top: $first-padding;
    padding-bottom: 15.5rem;

    @include breakpoint($mobile-width) {
        padding-top: $mobile-first-padding;
        padding-bottom: 5.9rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 2.3rem;
        font-size: 2.6rem;
        line-height: 3.12rem;
        font-weight: 700;

        @include breakpoint($mobile-width) {
            margin-bottom: 1.9rem;
        }
    }

    &__inner {
        display: flex;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }
}

.about-content {
    max-width: calc(100% - 33%);
    width: 100%;
    padding-right: 2.1rem;

    @include breakpoint($mobile-width) {
        max-width: 100%;
        padding-right: 0;
    }

    &__text {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2.2rem;
        & + & {
            margin-top: 1.5rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
        min-height: 23rem;
        margin-top: 4.5rem;
        border-radius: 9px;

        @include breakpoint($mobile-width) {
            margin-top: 4rem;
        }
    }

    &__title {
        margin-top: 7.2rem;
        margin-bottom: 3.3rem;
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 700;

        @include breakpoint($mobile-width) {
            margin-top: 4.4rem;
            margin-bottom: 2rem;
        }
    }

    &__advantages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 5.5rem;

        @include breakpoint($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 3.4rem;
        }
    }

    &__advantages-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.9rem;
        height: 5.9rem;
        border-radius: 50%;
        background-color: $color-white-smoke;
    }

    &__advantages-title {
        margin-top: 1.7rem;
        margin-bottom: 0.9rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        color: $color-gray;
    }

    &__advantages-text {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 300;
        color: $color-surva-gray2;
    }
}

.about-slider-wrapper {
    margin-top: 3rem;
    margin-left: -1rem;

    @include breakpoint($mobile-width) {
        margin-bottom: 5rem;
    }
}

.about-slider {
    &__item {
        margin: 0 1rem;
        outline: transparent;
    }

    &__item-content {
        height: 23rem;
        border-radius: 9px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__arrow {
        padding: 0.5rem;
        border: none;
        background: transparent;
        outline: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__arrow-prev {
        left: -1.5rem;
    }

    &__arrow-next {
        left: auto;
        right: -1.5rem;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 1.5rem;

        li {
            display: flex;
            line-height: 1;

            button {
                width: 0.8rem;
                height: 0.8rem;
                padding: 0;
                border: none;
                border-radius: 50%;
                font-size: 0;
                line-height: 1;
                background-color: $color-gainsboro;
                outline: transparent;
            }
        }

        .slick-active button {
            background-color: $color-light-green;
        }

        li + li {
            margin-left: 0.5rem;
        }
    }
}

.about-aside {
    width: 33%;
    flex-shrink: 0;

    @include breakpoint($mobile-width) {
        width: 100%;
    }

    &__box {
        padding: 1.8rem 1.6rem;
        border: 1px solid $color-white-smoke2;
        border-radius: 5px;

        @include breakpoint($mobile-width) {
            padding: 2.1rem;
        }

        & + & {
            margin-top: 1.5rem;
        }
    }

    &__box-title {
        margin-top: 0;
        margin-bottom: 1.9rem;
        font-size: 1.6rem;
        line-height: 1.92rem;
        font-weight: 700;
        color: $color-surva-gray3;
    }

    &__work-title {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.92rem;
        font-weight: 400;
        color: $color-nero;
    }

    &__date-work {
        margin-top: 1rem;
        margin-bottom: 2.7rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: $color-nero;
    }

    &__contacts-list {
        list-style: none;
    }

    &__contacts-item {
        display: flex;
        align-items: center;
        line-height: 1;
        & + & {
            margin-top: 1.5rem;
        }
    }

    &__contacts-icon {
        display: block;
        margin-right: 0.9rem;
    }

    &__contacts-link {
        font-size: 1.4rem;
        line-height: 1.68rem;
        text-decoration: none;
        color: $color-nero;
    }

    &__advantages-item {
        display: flex;

        & + & {
            margin-top: 3.17rem;
        }
    }

    &__advantages-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.9rem;
        border-radius: 50%;
        background-color: $color-white-smoke;
    }

    &__advantages-icon {
        display: block;
    }

    &__advantages-title {
        margin-top: 0.1rem;
        margin-bottom: 0.629rem;
        font-size: 1.6rem;
        line-height: 1.92rem;
        font-weight: 400;
        color: $color-nero;
    }

    &__advantages-text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color-dark-light-gray;
    }
}

/* about end */
/* contacts start */
.contacts {
    padding-top: $first-padding;

    @include breakpoint($mobile-width) {
        padding-top: $mobile-first-padding;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 3.9rem;
        font-size: 2.6rem;
        line-height: 3.12rem;
        font-weight: 700;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.7rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }
}

.contacts-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3.3rem;
    margin-bottom: 5rem;

    @include breakpoint($mobile-width) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.contacts-block {
    display: flex;
    &__icon {
        display: block;
        margin-top: 0.2rem;
        margin-right: 0.7rem;
        fill: $color-surva-gray3;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 1.3rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $color-surva-gray3;
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $color-nero;
    }

    &__list-link {
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $color-nero;
    }
}

.contacts-map {
    display: block;
    width: 100%;
    height: 46.8rem;
}
/* contacts end */
/* product start */
.product {
    padding-top: $first-padding;

    @include breakpoint($mobile-width) {
        padding-top: $mobile-first-padding;
        padding-bottom: 5.6rem;
    }

    &__box {
        display: flex;
        padding-top: 3rem;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    &__name {
        margin: 0;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $color-nero;
    }

    &__code {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
        font-weight: 300;
    }

    &__form {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        @include breakpoint($mobile-width) {
            margin-top: 3.3rem;
            margin-bottom: 0;
        }
    }

    &__form-radio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.6rem;
    }

    &__form-radio-label {
        display: inline-block;
        padding-left: 3rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $color-nero;
        position: relative;
        user-select: none;

        &::before {
            content: "";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(../images/icons/radio-button.svg) 0 0 no-repeat;
        }
    }

    &__form-radio-input[type="radio"]:checked + .product__form-radio-label::before {
        background: url(../images/icons/radio-button-checked.svg) 0 0 no-repeat;
    }

    &__form-radio-input {
        display: none;
    }

    &__control {
        display: flex;
        margin-top: 3.3rem;
    }

    &__control-btn {
        max-width: 16.8rem;
        width: 100%;
        & + & {
            margin-left: 3rem;

            @include breakpoint($mobile-width) {
                margin-left: 0.8rem;
            }
        }
    }
}

.product-sliders {
    width: 50%;

    @include breakpoint($mobile-width) {
        width: 100%;
        padding-bottom: 2rem;
    }
}

.product-slider {
    padding-bottom: 2rem;
    position: relative;

    @include breakpoint($mobile-width) {
        position: relative;
        padding-bottom: 0;
        .slick-dots {
            display: flex;
            justify-content: center;
            list-style: none;
            position: absolute;
            bottom: 2rem;
            left: 0;
            right: 0;
            margin: 0 auto;

            li {
                display: flex;
                line-height: 1;

                button {
                    width: 0.8rem;
                    height: 0.8rem;
                    padding: 0;
                    border: none;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 1;
                    background-color: $color-gainsboro;
                    outline: transparent;
                }
            }

            .slick-active button {
                background-color: $color-light-green;
            }

            li + li {
                margin-left: 0.5rem;
            }
        }
    }

    &__item {
        outline: transparent;
    }

    &__item-img {
        object-fit: cover;
        width: 100%;
        height: 35.8rem;

        @include breakpoint($mobile-width) {
            height: 29.1rem;
        }
    }

    .slick-arrow {
        width: 2.6rem;
        height: 2.6rem;
        border: 1px solid #242424;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-color: $color-light-green;
        outline: transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $color-dark-green;
        }

        &::before {
            width: 0.6rem;
            height: 0.9rem;
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;

        }
    }
    .slick-next {
        right: 0.5rem;
        &::before {
            background: url(../images/icons/icon-arrow-right.svg);
        }
    }

    .slick-prev {
        left: 0.5rem;
        &::before {
            background: url(../images/icons/icon-arrow-left.svg);
        }
    }
}

.product-slider-navigation {
    &__item {
        outline: transparent;
        margin-left: 1.6rem;
    }

    &__item-img {
        object-fit: cover;
        width: 100%;
    }
}

.product-information {
    width: 100%;
    padding-left: 3.5rem;

    @include breakpoint($mobile-width) {
        padding-left: 0;
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 700;
        color: $color-mortar2;
        & + & {
            margin-top: 0.8rem;
        }
    }

    &__count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2.5rem 0;
    }

    &__count-text {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 300;
        color: $color-dim-gray;
    }
}
/* product end */
/* product-decription start */
.product-description {
    padding-top: 7.6rem;
    padding-bottom: 4.8rem;

    @include breakpoint($mobile-width) {
        padding-top: 0;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 2.2rem;
        font-size: 2.6rem;
        line-height: 3.12rem;
        font-weight: 700;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }

    &__text {
        width: 65%;
        margin-top: 0;
        margin-bottom: 3.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            width: 100%;
        }
    }

    &__video {
        display: block;
        width: 100%;
        min-height: 21.9rem;
        max-height: 47.6rem;
        border-radius: 4px;
        outline: transparent;
        object-fit: cover;
    }
}

/* product-decription end */
/* cart start */
.cart {
    padding-top: $first-padding;
    padding-bottom: 11rem;

    @include breakpoint($mobile-width) {
        padding-top: $mobile-first-padding;
        padding-bottom: 6.2rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 3.9rem;
        font-size: 2.6rem;
        line-height: 3.12rem;
        font-weight: 700;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.7rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }
}

.cart-items {
    padding-bottom: 2.6rem;
    border-bottom: 1px solid $color-white-smoke;

    @include breakpoint($mobile-width) {
        padding-bottom: 1.3rem;
    }
}

.cart-item {
    display: flex;
    padding-top: 0.8rem;
    padding-left: 0.8rem;

    @include breakpoint($mobile-width) {
        flex-wrap: wrap;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-white-smoke;
    }

    &:last-child {
        @include breakpoint($mobile-width) {
            border-bottom: 0 solid $color-white-smoke;
        }
    }

    & + & {
        margin-top: 3.3rem;
    }

    &__img-wrapper {
        flex-shrink: 0;
        max-width: 14.4rem;
        margin-right: 2.1rem;
        position: relative;

        @include breakpoint($mobile-width) {
            margin-bottom: 2rem;
        }
    }

    &__img {
        display: block;
    }

    &__info {
        padding-right: 2rem;

        @include breakpoint($mobile-width) {
            width: 100%;
            padding-right: 0;
            order: 3;
        }
    }

    &__name {
        margin-bottom: 0.3rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 700;
        color: $color-nero;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-light-green;
        }
    }

    &__code {
        margin-top: 0;
        margin-bottom: 0.7rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
        font-weight: 300;
        color: $color-dim-gray;
    }

    &__size {
        margin-top: 0;
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 700;
        color: $color-mortar2;
    }

    &__price-wrapper {
        width: 9.1rem;
        height: 4rem;
        margin-left: auto;
        padding: 0.8rem;
        background-color: $color-white-smoke;
    }

    &__price {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        white-space: nowrap;
        text-align: center;
    }
}

.cart-item-btn-delete {
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    padding: 0;
    border: none;
    font-family: "Lato", sans-serif;
    border-radius: 50%;
    background-color: $color-nero;
    fill: $color-white;
    outline: transparent;
}

.cart-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.8rem;
    padding-left: 0.8rem;

    @include breakpoint($mobile-width) {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.8rem;
        padding-left: 0;
    }

    &__link-order {
        max-width: 19.7rem;
        width: 100%;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        text-align: center;
        text-decoration: none;
        @include breakpoint($mobile-width) {
            margin-top: 2.2rem;
            order: 2;
        }
    }

    &__price {
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 700;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            font-size: 1.6rem;
        }
    }
}
/* cart end */
/* order end */
.order {
    padding-top: $first-padding;
    padding-bottom: 10.8rem;

    @include breakpoint($mobile-width) {
        padding-top: $mobile-first-padding;
        padding-bottom: 3.6rem;
    }

    &__title {
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
        font-size: 2.6rem;
        line-height: 3.12rem;
        font-weight: 700;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.1rem;
            margin-bottom: 2.3rem;
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }

    &__inner {
        display: flex;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    &__result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 0;
        border-top: 1px solid $color-white-smoke3;

        @include breakpoint($mobile-width) {
            padding-top: 1.6rem;
        }
    }

    &__result-price {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 700;
        color: $color-nero;

        @include breakpoint($mobile-width) {
            font-size: 1.4rem;
        }
    }
}

.order-form {
    width: 40%;
    padding-right: 2rem;

    @include breakpoint($mobile-width) {
        width: 100%;
        padding-right: 0;
        order: 2;
    }

    &__box {
        & + & {
            margin-top: 2rem;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: $color-nero;
    }

    &__element-wrapper {
        position: relative;
    }

    &__select {
        width: 100%;
        border: 1px solid $color-white-smoke;
        font-family: "Lato", sans-serif;
        border-radius: 2px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 300;
        color: $color-nero;
    }

    &__select {
        display: none;
        @include breakpoint($mobile-width) {
            display: block;
            width: 100%;
            padding: 0.8rem 1.8rem;
            border-radius: 2px;
            border: 1px solid #f2f2f2;
            font-family: "Lato", sans-serif;
            font-size: 1.4rem;
            line-height: 2.4rem;
            font-weight: 300;
            color: #242424;
        }
    }

    .jq-selectbox {
        display: block;
    }

    .jq-selectbox__select {
        position: relative;
        &::after {
            content: url(../images/icons/icon-select-arrow-bottom.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
        }
    }

    .jq-selectbox__select-text {
        padding: 0.6rem 1.8rem;
    }

    .jq-selectbox__dropdown {
        border: 1px solid $color-white-smoke3;
    }

    .jq-selectbox__dropdown ul {
        list-style: none;
    }

    .jq-selectbox__dropdown li {
        padding: 0.6rem 1.8rem;
        border-top: 1px solid $color-white-smoke3;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-white;
            background-color: $color-charcoal;
        }
    }

    &__information {
        padding: 1.4rem 0.9rem 2rem 0.9rem;
        background-color: $color-white-smoke;
    }

    &__information-bank {
        font-size: 1.4rem;
        line-height: 1.68rem;
        font-weight: 700;
        color: $color-surva-gray4;
    }

    &__information-number {
        margin-top: 1.4rem;
        margin-bottom: 1.2rem;
        font-size: 1.6rem;
        line-height: 1.92rem;
        font-weight: 700;
        color: $color-nero;
    }

    &__information-person {
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.68rem;
        font-weight: 700;
        color: $color-nero;
    }

    &__submit {
        max-width: 16.8rem;
        width: 100%;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}

.order-box {
    width: 60%;

    @include breakpoint($mobile-width) {
        width: 100%;
        margin-bottom: 2.6rem;
    }

    &__inner {
        padding: 1.9rem 2.4rem 1.9rem 1.7rem;
        border-radius: 3px;
        background-color: $color-white1;

        @include breakpoint($mobile-width) {
            padding: 1.5rem;
        }
    }
}

.order-item {
    display: flex;
    margin-bottom: 2.3rem;

    &__img-wrapper {
        flex-shrink: 0;
        max-width: 8.1rem;
        margin-right: 2.1rem;
    }

    &__img {
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    &__name {
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 700;
        color: $color-nero;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-light-green;
        }
    }

    &__info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__count {
        font-size: 1.4rem;
        font-weight: 700;
        color: $color-nero;
    }

    &__price {
        padding-left: 1rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: $color-nero;
    }
}

.order-btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: $color-nero;
    @include breakpoint($mobile-width) {
        font-size: 1.4rem;
    }

    &__icon {
        display: block;
        margin-right: 0.8rem;

        @include breakpoint($mobile-width) {
            margin-right: 0.5rem;
        }
    }
}
/* order end */
/* footer start */
.footer {
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    background-color: $color-gray;

    @include breakpoint($mobile-width) {
        padding-top: 4.8rem;
        padding-bottom: 2.6rem;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }
}

.footer-block {
    & + & {
        @include breakpoint($mobile-width) {
            margin-top: 5rem;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 1.9rem;
        font-size: 1.6rem;
        line-height: 1.92rem;
        font-weight: 700;
        color: $color-dim-gray2;

        @include breakpoint($mobile-width) {
            margin-bottom: 1.6rem;
        }
    }

    &__date-work {
        font-size: 1.8rem;
        line-height: 2.16rem;
        text-transform: uppercase;
        color: $color-white;
    }

    &__contacts-item {
        display: flex;
        align-items: center;
        & + & {
            margin-top: 2rem;
        }
    }

    &__contacts-img {
        display: block;
        margin-right: 1.1rem;
    }

    &__contacts-link {
        font-size: 1.4rem;
        line-height: 1.68rem;
        text-decoration: none;
        color: $color-white;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-light-green;
        }

        &--email {
            border-bottom: 1px solid $color-white;
        }
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        line-height: 1;
        & + & {
            margin-top: 2rem;
        }
    }

    &__list-link {
        font-size: 1.6rem;
        line-height: 1.92rem;
        text-decoration: none;
        color: $color-white;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-light-green;
        }
    }

    &__socials-list {
        list-style: none;
        display: flex;
        margin-bottom: 7.7rem;

        @include breakpoint($mobile-width) {
            margin-bottom: 5.4rem;
        }
    }

    &__socials-link {
        font-size: 0;
    }

    &__socials-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.26rem;
        height: 3.26rem;
        border-radius: 50%;
        background-color: $color-charcoal;

        & + & {
            margin-left: 1.3rem;
        }
    }

    &__socials-img {
        display: block;
    }
}

.copyright {
    display: flex;
    align-items: center;
    &__img {
        margin-right: 0.5rem;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.68rem;
        color: $color-mortar;
    }
}

/* footer end */
